<div class="categories">
  <div>
    <h5 class="mb-0 header">
      Popular categories
    </h5>
    <div class="row container-fluid">
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/recent4.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Home</h4>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">Let's have a quick look!</a>
                  <!-- <a href="#" class="card-link">Add to cart</a> -->
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/recent2.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Electronics</h4>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">Let's have a quick look!</a>
                  <!-- <a href="#" class="card-link">Add to cart</a> -->
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/recent3.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Personal Care</h4>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">Let's have a quick look!</a>
                  <!-- <a href="#" class="card-link">Add to cart</a> -->
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="assets/images/recent5.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">GoCart Fashion</h4>
                  <p class="card-text"></p>
                  <a href="#" class="card-link">Let's have a quick look!</a>
                  <!-- <a href="#" class="card-link">Add to cart</a> -->
                </div>
              </div>
        </div>
      </div>
  </div>
</div>
