.logo{
  color: #fff; 
  font-size: 1rem; 
  line-height: 1.7rem;
  position: relative; 
  padding-left: 4%;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.navbar{
  background-color: #f5e5e8;
    width: 100% !important;
}

.search-item input[type="text"]{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background:#fff url(/assets/images/search-icon.png) no-repeat 2% center;
  padding-left: 30px;
  padding-right: 26px;
  font-style: italic;
}

.dropdown {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.confirm {
  background-color:#f45343;
  /* float: left */
}
.cancel {
  background-color: #232E40;
  color:#fff;
}
