<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-3 item-container">
      <h6>Get to Know Us</h6>
      <ul type="none" class="content">
        <li>About us</li>
        <li>Careers</li>
        <li>Gift a smile</li>
      </ul>
    </div>
    <div class="col-sm-3 item-container">
      <h6>Connect with Us</h6>
      <ul type="none" class="content">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
      </ul>
    </div>
    <div class="col-sm-3 item-container">
      <h6>Let Us Help You</h6>
      <ul type="none" class="content">
        <li>Your account</li>
        <li>Returns center</li>
        <li>Help</li>
      </ul>
    </div>
    <div class="col-sm-3 item-container">
      <h6>Make Money with Us</h6>
      <ul type="none" class="content">
          <li>Sell on GoCart</li>
          <li>Advertise Your Products</li>
          <li>Become an Affiliate</li>
      </ul>
    </div>
  </div>
</div>
