<div class="container">
  <div class="wrapper">
    <form name="SignUp_Form" class="form-signin">
      <div class="signup-box">
        <p class="access-title">Create Account</p>
        <label class="pull-left">Your Name</label>
        <input type="text" class="form-control" name="name" autofocus="" />
        <label class="">Mobile Number</label>
        <input type="text" class="form-control" name="number" autofocus="" />
        <label class="pull-left">Email ID</label>
        <input type="email" class="form-control" name="Email" autofocus="" />
        <label>Password</label>
        <input type="password" class="form-control" name="Password" />
        <div>
          <button name="Submit" type="button" value="signup" type="Submit" (click)="signUp()">CREATE ACCOUNT</button>
        </div>
        <div>
          <p class="info">Already have an account?</p>
          <button class="signin" name="Submit" (click)="goTosignIn()"> LOG IN</button>
        </div>
      </div>
    </form>
  </div>
</div>
