.wrapper {
	margin-top: 4%;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 400px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0px 2px 27px 0px rgba(0, 0, 0, 0.12);
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}


.signup-box{
  background: #232E40;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 30px 35px;
}

.signup-box .access-title{
    font-size: 1.7rem;
}
.signup-box label{
  color: #59D3CF;
  text-align: left;
  font-weight: normal;
  display: block;
  font-size: 1rem;
  margin-top: 15px;
  width: 40%;
  margin-bottom: 0;
}

.signup-box input[type="email"], .signup-box input[type="text"], .signup-box input[type="password"] {  background: #232E40;
  color: #FFF;
  border-top:0;
  border-right:0;
  border-left:0;
  border-bottom: 1px solid #111;
  border-radius: 0;
  padding:5px 0;
  font-size: 15px;
}

.signup-box input[type="email"]:focus, .signup-box input[type="text"]:focus, .signup-box input[type="password"]:focus{
  box-shadow: none;
}

.signup-box button{
  background: #fff;
  color: #444;
  border-radius: 0 !important;
  width: 60%; 
  margin: 20px; 
}

.button .signin{
  background: #FB494F;
  color: #444;
  border-radius: 22px;
  width: 60%; 
  margin: 20px; 
}
