<div class="container">
  <div class="wrapper">
    <form *ngIf="!sendEmail" #form="ngForm" name="Login_Form" class="form-signin" (ngSubmit)="resetPassword(form)">
      <div class="QTracker-logo"><img src="assets/images/qtracker-logo.png" /></div>
      <div class="login-box">
        <p class="access-title">Reset Password</p>
        <p>
          Enter your email address and we will send you an email with instructions to reset your password
        </p>
        <label class="pull-left">Email ID</label>
        <span *ngIf="isValid" class="log-error">{{errorMessage}}</span>
        <input type="text" class="form-control" name="Email ID" [(ngModel)]="emailId" #email="ngModel" autofocus="" />
        <div class="log-button">
          <button name="Submit" value="Login" type="Submit" [disabled]="form.invalid">SEND EMAIL</button>
        </div>
      </div>
    </form>
    <form *ngIf="sendEmail" #form="ngForm" name="Login_Form" class="form-signin">
      <div class="QTracker-logo"><img src="assets/images/qtracker-logo.png" /></div>
      <div class="reset-box">
        The reset link has been send to your email successfully !!!
      </div>
    </form>
  </div>
</div>
